In [3]:
import json
import pandas as pd
# Load EXTRACTED_FLS_METRICS.json
# Load the JSON file
with open('../datasets/EXTRACTED_FLS_METRICS.json', 'r') as json_file:
    data = json.load(json_file)
df = pd.DataFrame(data)

In [4]:
# Save df as CSV
# df.to_csv('../datasets/EXTRACTED_FLS_METRICS.csv', index=False)

In [5]:
df.shape

(294254, 7)

In [6]:
test_data = df.sample(200)
test_data.to_csv('../datasets/test.csv', index=False)

In [8]:
# Load test.csv
test_data = pd.read_csv('../datasets/test.csv', delimiter=';')

In [10]:
# Set train data as the rest of the data
train_data = df.drop(test_data.index)

In [16]:
# Rename columns
train_data.rename(columns={'FLS': 'Label'}, inplace=True)

# Rename data in column Label
train_data['Label'] = train_data['Label'].replace({'FLS': 1,
                                                   'Non-FLS': 0})

train_data = train_data[['Sentence','Label']]
train_data.head()

                                             Sentence  Label
52  Our future revenues and profitability depend o...      0
53  We experience fluctuations in quarterly earnings.      0
54  Revenues and profitability generally have been...      0
55  Revenues and profitability generally have been...      0
56  Additionally, changes in government, governmen...      0

In [20]:
# Do the same for test data
# Rename columns
test_data.rename(columns={'FLS': 'Label'}, inplace=True)

test_data.head()

# Save to csv
test_data.to_csv('../datasets/test.csv', index=False)

In [17]:
# Save train.csv
train_data.to_csv('../datasets/train.csv', index=False)

In [18]:
train_data.shape

(294202, 2)

In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('../datasets/finbert_data/EBIT.csv')
#df.drop(columns=['Cost of Goods Sold','Revenue','Selling, General and Administrative Expenses'],inplace=True)
df.head()

,text,item,cik,year,val
0,Disruptions in global credit and other financi...,item_1A,100493,2015,NaN
1,Disruptions in global credit and other financi...,item_1A,100493,2016,NaN
2,Disruptions in global credit and other financi...,item_1A,100493,2020,NaN
3,"Additionally, operating income in fiscal 2019 ...",item_7,100493,2020,NaN
4,Disruptions in global credit and other financi...,item_1A,100493,2021,NaN

In [11]:
df = pd.read_csv('../datasets/intermediary/metric_data/EarningsPerShareDiluted.csv')
df.head()

,accn,cik,entityName,loc,start,end,val,year,metric
0,0001193125-10-141331,1094316,TRINTECH GROUP PLC,IE-,2006-02-01,2007-01-31,-0.07,2006,Diluted Earnings per share
1,0000038074-09-000029,38074,FOREST LABORATORIES INC,US-NY,2006-04-01,2007-03-31,1.41,2006,Diluted Earnings per share
2,0001193125-11-042228,1163302,United States Steel Corp,US-PA,2006-01-01,2006-12-31,11.18,2006,Diluted Earnings per share
3,0001193125-09-191566,874761,THE AES CORPORATION,US-VA,2006-01-01,2006-12-31,0.37,2006,Diluted Earnings per share
4,0001193125-09-222247,1103982,"Mondelez International, Inc.",US-IL,2006-01-01,2006-12-31,1.84,2006,Diluted Earnings per share