In [47]:
import pandas as pd

# Read in the data
df = pd.read_csv('../datasets/distilbert_dataset.csv')
fls = df[df['Label'] == 'FLS']

# Rename columns
fls.rename(columns={'Metric': 'metric',"CIK":"cik","Year":"year",'Sentence':'text','Item':'item'}, inplace=True)
fls.drop(columns=['index','Label','Company'], inplace=True)
fls['metric'] = fls['metric'].replace({"Net Income":"Net Income (Loss)"})
fls.head()

C:\Users\Khanh Nguyen\AppData\Local\Temp\ipykernel_12828\1618704881.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fls.rename(columns={'Metric': 'metric',"CIK":"cik","Year":"year",'Sentence':'text','Item':'item'}, inplace=True)
C:\Users\Khanh Nguyen\AppData\Local\Temp\ipykernel_12828\1618704881.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fls.drop(columns=['index','Label','Company'], inplace=True)
C:\Users\Khanh Nguyen\AppData\Local\Temp\ipykernel_12828\1618704881.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fls['metric'] = fls['metric'].replace({"Net Income":"Net Income (Loss)"})

,text,metric,item,year,cik
0,We intend to retain earnings to finance the ex...,Net Income (Loss),item_1A,2015,1000228
1,We intend to retain earnings to finance the ex...,Net Income (Loss),item_1A,2016,1000228
2,We intend to retain earnings to finance the ex...,Net Income (Loss),item_1A,2018,1000228
3,(3) In 2017 there was an estimated one-time-ch...,Net Income (Loss),item_1A,2018,1000228
4,We intend to retain earnings to finance the ex...,Net Income (Loss),item_1A,2019,1000228

In [49]:
# Load metric data
metrics = pd.read_csv('../datasets/metric_data/NetIncomeLoss.csv')
metrics.head()

,accn,cik,entityName,loc,start,end,val,year,metric
0,0001193125-10-141331,1094316,TRINTECH GROUP PLC,IE-,2006-02-01,2007-01-31,-2167000.0,2006,Net Income (Loss)
1,0001144204-11-045587,356591,NEUROLOGIX INC/DE,US-NJ,2006-01-01,2006-12-31,-7046000.0,2006,Net Income (Loss)
2,0001019687-11-003623,1042728,CPC OF AMERICA INC,US-NV,2006-01-01,2006-12-31,-2811855.0,2006,Net Income (Loss)
3,0001437749-11-008788,1446801,"INTERNATIONAL PAINTBALL ASSOCIATION, INC.",US-TX,2006-01-01,2006-12-31,-363762.0,2006,Net Income (Loss)
4,0001013762-11-003136,1366823,"SPRING CREEK HEALTHCARE SYSTEMS, INC.",US-NY,2006-01-01,2006-12-31,-30000.0,2006,Net Income (Loss)

In [50]:
# Merge datasets based on CIK number, year and metric
merged_data = fls.merge(metrics, on=['cik', 'year','metric'], how='inner')
merged_data.head()

,text,metric,item,year,cik,accn,entityName,loc,start,end,val
0,We intend to retain earnings to finance the ex...,Net Income (Loss),item_1A,2015,1000228,0001000228-18-000012,HENRY SCHEIN INC,US-NY,2014-12-28,2015-12-26,479058000.0
1,Funding requirements are based on forecasted p...,Net Income (Loss),item_7,2015,1000228,0001000228-18-000012,HENRY SCHEIN INC,US-NY,2014-12-28,2015-12-26,479058000.0
2,We also develop estimates for future levels of...,Net Income (Loss),item_7,2015,1000228,0001000228-18-000012,HENRY SCHEIN INC,US-NY,2014-12-28,2015-12-26,479058000.0
3,This comparison is made based on a review of h...,Net Income (Loss),item_7,2015,1000228,0001000228-18-000012,HENRY SCHEIN INC,US-NY,2014-12-28,2015-12-26,479058000.0
4,"Where we deem it prudent, we engage in hedging...",Net Income (Loss),item_7A,2015,1000228,0001000228-18-000012,HENRY SCHEIN INC,US-NY,2014-12-28,2015-12-26,479058000.0

In [ ]:
# Save data
merged_data.to_csv('../datasets/merged_data.csv', index=False)

In [53]:
len(fls['cik'].unique())

486

In [54]:
import os
import pandas as pd

,text,metric,item,year,cik
0,We intend to retain earnings to finance the ex...,Net Income (Loss),item_1A,2015,1000228
1,We intend to retain earnings to finance the ex...,Net Income (Loss),item_1A,2016,1000228
2,We intend to retain earnings to finance the ex...,Net Income (Loss),item_1A,2018,1000228
3,(3) In 2017 there was an estimated one-time-ch...,Net Income (Loss),item_1A,2018,1000228
4,We intend to retain earnings to finance the ex...,Net Income (Loss),item_1A,2019,1000228

In [65]:
def integrate_data(text_dataset, metrics_folder, output_folder):
    """
    Integrates the text dataset with the metric data.
    
    Parameters
    ----------
    text_dataset : str
        Path to the text dataset.
    metrics_folder : str
        Path to the folder containing the metric data.
    output_folder : str
        Path to the folder where the integrated data will be saved.
    """
    # Read in the text data
    df = pd.read_csv(text_dataset)
    fls = df[df['Label'] == 'FLS']
    
    # Suppress warnings
    pd.options.mode.chained_assignment = None  # Suppress SettingWithCopyWarning
    
    # Preprocess data
    fls.rename(columns={'Metric': 'metric',"CIK":"cik","Year":"year",'Sentence':'text','Item':'item'}, inplace=True)
    fls.drop(columns=['index','Label','Company'], inplace=True)
    fls['metric'] = fls['metric'].replace({"Net Income":"Net Income (Loss)",
                                           "EPS":'Diluted Earnings per share',
                                           "Cash Flow (Investing)":"Net Cash from Investing Activities",
                                           "Cash Flow (Financing)":"Net Cash from Financing Activities",
                                           "Cash Flow (Operating)":"Net Cash from Operating Activities",})
    
    # Create a list to store names of all the files
    metric_files = [file for file in os.listdir(metrics_folder) if file.endswith('.csv')]
    
    # Loop through each metric file 
    for metric_file in metric_files:
        # Read in the metric file
        metric = pd.read_csv(metrics_folder + metric_file)
        
        # Merge datasets based on CIK number, year and metric
        merged_data = fls.merge(metric, on=['cik', 'year','metric'], how='inner')
        
        # Save data
        if merged_data.empty:
            print('No data for: ' + metric_file)
        else:
            merged_data.to_csv(output_folder + metric_file, index=False)
            print('Saved: ' + metric_file)

In [66]:
integrate_data('../datasets/distilbert_dataset.csv', '../datasets/metric_data/', '../datasets/distilbert_data/')
integrate_data('../datasets/finbert_dataset.csv', '../datasets/metric_data/', '../datasets/finbert_data/')

No data for: CostOfGoodsAndServicesSold.csv
Saved: EarningsPerShareDiluted.csv
Saved: EBIT.csv
No data for: NetCashProvidedByUsedInContinuingOperations.csv
Saved: NetCashProvidedByUsedInFinancingActivities.csv
Saved: NetCashProvidedByUsedInInvestingActivities.csv
Saved: NetIncomeLoss.csv
Saved: RevenueFromContractWithCustomerExcludingAssessedTax.csv
No data for: SellingGeneralAndAdministrativeExpense.csv
No data for: CostOfGoodsAndServicesSold.csv
Saved: EarningsPerShareDiluted.csv
Saved: EBIT.csv
No data for: NetCashProvidedByUsedInContinuingOperations.csv
Saved: NetCashProvidedByUsedInFinancingActivities.csv
Saved: NetCashProvidedByUsedInInvestingActivities.csv
Saved: NetIncomeLoss.csv
Saved: RevenueFromContractWithCustomerExcludingAssessedTax.csv
No data for: SellingGeneralAndAdministrativeExpense.csv